node_modules/
package-lock.json
.vscode/

devconfig/
devdatabase/
plugins/*
!plugins/example-plugin/
database/openticket.sqlite
dist/

otdebug.txt

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
**/.DS_Store

.backup/*
.tools/*
!.tools/createSponsors.ts
!.tools/createContributors.ts
!.tools/mergeTranslations.ts
!.tools/docker-compose.yml
!.tools/build-docker.sh